<% if notice %>
  <p class="flash"><%= notice %></p>
<% end %>

<div class="flash-messages">
  <% flash.each do |type, message| %>
    <div class="flash <%= type %>"><%= message %></div>
  <% end %>
</div>
