:root {
  --text-color: #1f1f1f;
  --text-color-grey: #909DA2;
  --text-color-light: #f1eae7;
  --background-color: #FFFFFF;

  // neutrals
  --neutral-000: #FFFFFF;
  --neutral-100: #FAFAFA;
  --neutral-200: #EBEBEB;
  --neutral-300: #E1E1E1;
  --neutral-400: #C0C0C0;
  --neutral-500: #858384;
  --neutral-600: #343434;
  --neutral-700: #121212;

  // danger
  --danger-100: #e27573;
  --danger-200: #e12f36;
  --danger-300: #FF1010;

  // Warning
  --warning-100: #FFEAB3;
  --warning-200: #FFC62B;
  --warning-300: #FE9B0E;

  // Success
  --success-100: #9adbba;
  --success-200: #47c38a;
  --success-300: #008060;

  // Info
  --info-100: #bdddff;
  --info-200: #3890ff;
  --info-300: #2E72D2;

  // Custom
  --red: #a50000;
  --pink: #f47c92;
  --faded-white: rgba(255, 255, 255, 0.6);
  --faded-black: rgba(0, 0, 0, 0.6);
}
