.events-container {
  display: flex;
  flex-direction: column;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 5rem;
  padding: 3rem 0;
  border-bottom: 1px solid var(--neutral-300);

  a {
    text-decoration: none;
    display: flex;
  }
}

.events-grid.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .events-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2rem 0;
  }

  .events-grid a {
    max-height: 20rem;
  }

  .landscape-wrapper {
    grid-column: span 2;
  }

}
