.photos-container {
  display: flex;
  flex-direction: column;
}

.photos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 5rem;
  padding: 3rem 0;
  border-bottom: 1px solid var(--neutral-300);

  a {
    text-decoration: none;
    display: flex;
    max-height: 30rem;
  }
}

.column-grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.photos-grid.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .photos-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 0;
  }

  .photos-grid a {
    max-height: 20rem;
  }

  .landscape-wrapper {
    grid-column: span 2;
  }
}
