<div class="text-content-container">
  <h1>About Me - Samantha Rose Bitonti</h1>
  <p class="text-block">
    I am a human person who acts and sings and makes a fool. I love ice cream and my support network.
    You can catch me at any time rewatching either Parks & Recreation, Brooklyn 99, or The Good Place (I see you, Michael Schur).
    I dare say I move through the world with a fantastic sense of humour and an appreciation for beauty and excellence.
    I’m also fiercely aware of the subjective nature of beauty and excellence. I digress.
  </p>
  <p class="text-block">
    With an embossed paper that says "BFA in Theatre Performance" from Concordia University and an illogical passion for creation,
    I've worked in theatre, voice, video games, commercial, film, clown, directing, mentorship, teaching, and community engagement.
    I love this work. It is full of complexity: fear, risk, spontaneity, joy, love, despair, and hope.
    I believe so earnestly in the power of art to transform. In honest, vulnerable, brave connection to another.
    I live for the moments (however ephemeral) when you catch a glimpse of a story that thrills you.
    To witness alchemy before our eyes and feel a little less alone. How beautiful. How excellent. How scary.
  </p>
  <p class="text-block">
    But isn't fear a wonderful thing? It means we are on the verge of something meaningful: that this work matters.
    The work is hard, but I am here for it. Let's work together, shall we?
  </p>
  <p class="text-block">
    For more information on acting credits, please visit <a href="https://reisler.ca/reisler-talent.html">reisler.ca</a>
  </p>
</div>
